<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard | CountryBot</title>
        <link rel="icon" type="image/x-icon" href="./assets/profile.ico"/>
        <link rel="stylesheet" href="./styles/index.css"/>
    </head>
    <body>
        <div class="login">
            <span class="title">Falló el inicio de sesión</span>
            <span class="description">Algo salió mal y no pudimos inicar sesion, ¡pero lo puedes volver a intentar!</span>
            <a href="/login" class="loginbtn">Volver a intentar</a>
        </div>
    </body>
</html>