<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard | CountryBot</title>
        <link rel="icon" type="image/x-icon" href="./assets/profile.ico"/>
        <link rel="stylesheet" href="./styles/index.css"/>
    </head>
    <body>
        <div class="login">
            <span class="title">CountryBot</span>
            <span class="description">Bienvenido a la dashboard de CountryBot.</span>
            <span class="description" style="margin-top: 5px;">Inicia sesión para continuar</span>
            <a href="/dashboard" class="loginbtn">Iniciar sesión en Discord</a>
        </div>
    </body>
</html>